:root {
    --meme-width: 200px;
    --meme-height: 150px;
}

* {
    font-family: Riffic,serif;
}

/* same properties as video */
.meme-thumbnail {
    width: var(--meme-width);
    height: var(--meme-height);
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 10px;
    margin-bottom: 10px;
    object-fit: contain;
}

/* same properties as thumbnail */
.meme-video {
    width: var(--meme-width);
    height: var(--meme-height);
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 10px;
    margin-bottom: 10px;
    object-fit: contain;
}

.meme-title {
    position: absolute;
    margin-top: 12px;
    font-size: 24px;
    color: white;
    max-width: 269px;
}

.meme-details {
    position: absolute;
    margin-top: 48px;
    font-size: 16px;
    color: white;
    max-width: 333px;
    width: 100%;
    max-height: 46px;
}

.meme {
    margin-left: 10%;
    width: 250px;
}

.hidden {
    width: 0;
    height: 0;
    display: none;
}