.meme-thumbnail {
    width: 200px;
    height: 150px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 10px;
    margin-bottom: 10px;
    object-fit: contain;
}

.meme-title {
    position: absolute;
    margin-top: 12px;
    font-size: 24px;
    color: white;
    max-width: 169px;
}

.meme-details {
    position: absolute;
    margin-top: 48px;
    font-size: 16px;
    color: white;
    max-width: 248px;
}

.meme {
    width: 250px;
}